# mp3val
# flac
# ffmpeg
# gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly

beets==2.6.2
beets[inline]==2.6.2
beets[convert]==2.6.2
beets[web]==2.6.2
beets[chroma]==2.6.2
beets[duplicates]==2.6.2
beets[albumtypes]==2.6.2
beets[badfiles]==2.6.2
beets[edit]==2.6.2
beets[fetchart]==2.6.2
beets[fromfilename]==2.6.2
beets[importfeeds]==2.6.2
beets[info]==2.6.2
beets[lastgenre]==2.6.2
beets[plexupdate]==2.6.2

standard-aifc==3.13.0
standard-sunau==3.13.0

beetcamp==0.23.0
beets-copyartifacts3==0.1.6
beets-lidarr-fields==1.1.2

# betanin==0.5.6
beetiful @ git+https://github.com/halkeye/beetiful@60e42c2a4105c50b204fe0b66e649544f41f8dab
