# mp3val
# flac
# ffmpeg
# gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly

beets
beets[inline]
beets[convert]
beets[web]
beets[chroma]
beets[duplicates]
beets[albumtypes]
beets[badfiles]
beets[edit]
beets[fetchart]
beets[fromfilename]
beets[importfeeds]
beets[info]
beets[lastgenre]
beets[plexupdate]

standard-aifc==3.13.0
standard-sunau==3.13.0

beetcamp==0.23.0
beets-copyartifacts3==0.1.5
beets-lidarr-fields==1.1.2

betanin
